<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.wst.jsdt.ui.java"
            class="ticlipse.wizards.TitaniumProjectNewWizard"
            id="ticlipse.wizard.new.titanium"
            name="Titanium Project"
            project="true">
      </wizard>
   </extension>

</plugin>
